@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: white;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

// Navbar
.navbar {
  background-color: black;
  border: 0;
  padding: 10px;
  color: white;
}

.navbar-default .navbar-brand {
  font-size: 150%;
  font-weight: bold;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar-default .navbar-brand:hover {
  background-color: white;
  color: black;
  border-radius: 15px 50px;
}

.navbar-default .navbar-nav > .active > a {
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 130%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: white;
  background-color: black;
  transform: scale(1.3);
}

// Navbar End



//Button Styling Begin

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

// Button Styling End


// Article Styling Begin


.article-title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.8em;
  padding-left: 0.7em;
}

.article-body {
  font-size: 1.5em;
  padding-left: 1.2em;
  color: #64103F;

}


.article-detail {
  // color: black;
}

.article-detail-title {
  font-size: 3em;
  margin-bottom: 40px;
}

.article-show-body {
  font-size: 1.5em;
  padding-left: 0em;
  margin-top: 15px;
}

.edit-delete {
  margin-top: 20px;
}

// Article Styling End